/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Mitr", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #A1A0E0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #fff;
    padding: 25px;
    width: 550px;
    border-radius: 15px;
}

.todo-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 5px;
    justify-content: center;
}

.todo-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EDEEF0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.todo-body input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px 0;
    font-size: 20px;
}

.todo-body img {
    cursor: pointer;
    border-radius: 40px;
    height: 55px;
    width: 55px;
    padding: 15px;
    background: #FFE500;
}